modules = ["python-3.11"]
[agent]
expertMode = true

[workflows]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[nix]
packages = ["tree", "wget", "openssh", "unzip", "file"]
